<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<body class="<%= controller_name %> <%= action_name %>">
<style>

.w3-btn {width:150px;}

div.edit_graph {
    width: auto;
    height: auto;
    margin-left: auto ;
    margin-right: auto ;
    border-radius: 25px;
    background: #F9F9F9;
    padding: 20px;

}

div.button{
      position: fixed;

    /* set position */
    top: 100px;
    right: 100px;

    /* must have dimension */
    width: 100px;
    height: 500px;
}
div.right_button{
      position: fixed;

    /* set position */
    top: 100px;
    left: 100px;

    /* must have dimension */
    width: 100px;
    height: 500px;
}

table, td {
    border: 1px solid black;
    margin-left: auto ;
    margin-right: auto ;
}

  /*loader*/
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      margin: auto;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  /**/
</style>
<!-- <script src="FileSaver.js"></script> -->

</script>
<input id="user_id" type="hidden"  value="<%=current_user.id%>">
<input id="graph_id" type="hidden" value="<%=@graph.id%>">
<!--  button change data-->
<div class="button">
  <p><button id = "changeData" class="w3-btn w3-round-large w3-blue" onclick="changeData()">Change Data</button></p>
  <br><br>
  <p><button id="save-btn" class="w3-btn w3-round-large w3-blue" onclick="saveChart()">Download Chart</button></p>
  <br><br>

</div>
<div class="right_button">

  <form class="email" action="/users/<%=current_user.id%>/graphs/<%=@graph.id%>/send_mail" method="post">
    <div class="recp">
      <b>Recipent(s) Email:</b><input id="recipient" type="text" name="recipient" value="" placeholder="john@example.com"></input>
    </div>
    <br>
    <b>Message:</b><textarea id="message" type="text" name="name" value="" rows="4" cols="20" placeholder="..."></textarea>
    <br> <br>
    <input id="email-btn" type="submit" name="Email" class="w3-btn w3-round-large w3-blue" value="Email">
  </form>

</div>
<!--  -->
<div class="outer" style= "width: 610px; height: 600px; margin-left:auto; margin-right:auto;">
  <div class="edit_graph">

  </div>
</div>


<div id="data">
  <form class="dataUpdate" action="/users/<%=current_user.id%>/graphs/<%=@graph.id%>" method="patch">
    <table id="table_data">
      <tr id="header">

      </tr>
      <tr id="data_values">

      </tr>
    </table>

  </form>

</div>

<!-- Pop up Modal -->
<div id="id01" class="w3-modal">
      <div class="loader"></div>
  </div>
<!--  -->

</body>
