<body class="<%= controller_name %> <%= action_name %>">
<%= form_tag users_graphs_upload_path(current_user), multipart: true do %>
Chart Title: <input type="text" name="title" value="">
Data Points: <input type="text" name="data_label" value=""><br>
Description:<textarea name="description" rows="5" cols="40"></textarea>
  <%= file_field_tag :file %>
  <%= submit_tag "file" %>
  <% end%>
</body>
